// main fonts

// Main Font for headings/menu/button

$mainFont: "Oswald";

// Font for general body

$textFont: "Cabin";

$baseFontSize: 1rem;
/* if we set our root element font-size to 125%, then 1 rem = 20px */

// Colors for all pages

$mainFontColor: #171717;
$buttonColor: #f38d8d;
$alternateWhite: #f6f6f6;
$mainColor: #b9dde7;
$mainAltColor1: #68b0c1;
$mainAltColor2: #227284;
